<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{580,180},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{233,646},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{466,646},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{699,646},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{0,879},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{233,879},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{0,413},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{466,879},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{233,413},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{466,413},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{699,879},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{0,1112},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{233,1112},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{180,180},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{380,180},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{466,1112},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{699,413},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{0,646},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{140,0},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{320,0},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{500,0},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{680,0},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SymbolPack.png</string>
            <key>size</key>
            <string>{932,1345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb3468e372949d13501b95c3c1dfb3c:a718ce7ed7de7356604ff242062a55fb:f63fb233da6bfbe49a7fe54f3bbe8486$</string>
            <key>textureFileName</key>
            <string>SymbolPack.png</string>
        </dict>
    </dict>
</plist>
