<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>$ 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{210,0},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{280,0},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{350,0},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{420,0},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{0,76},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{70,76},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{140,76},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{210,76},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{280,76},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,76}</string>
                <key>spriteSourceSize</key>
                <string>{64,76}</string>
                <key>textureRect</key>
                <string>{{384,76},{64,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,76}</string>
                <key>spriteSourceSize</key>
                <string>{128,76}</string>
                <key>textureRect</key>
                <string>{{0,152},{128,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HK$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,76}</string>
                <key>spriteSourceSize</key>
                <string>{146,76}</string>
                <key>textureRect</key>
                <string>{{268,152},{146,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{414,152},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{0,228},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NT$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,76}</string>
                <key>spriteSourceSize</key>
                <string>{142,76}</string>
                <key>textureRect</key>
                <string>{{70,228},{142,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,76}</string>
                <key>textureRect</key>
                <string>{{212,228},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RM$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,76}</string>
                <key>spriteSourceSize</key>
                <string>{122,76}</string>
                <key>textureRect</key>
                <string>{{290,228},{122,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,76}</string>
                <key>textureRect</key>
                <string>{{412,228},{94,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{0,304},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>USDT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,76}</string>
                <key>spriteSourceSize</key>
                <string>{171,76}</string>
                <key>textureRect</key>
                <string>{{70,304},{171,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>W$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,76}</string>
                <key>spriteSourceSize</key>
                <string>{102,76}</string>
                <key>textureRect</key>
                <string>{{241,304},{102,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{343,304},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{128,152},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{198,152},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>đ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{415,304},{67,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BitmapFont.png</string>
            <key>size</key>
            <string>{506,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b45bd32251f0d0189149692c872f731:78ae105de2c7563bd8e21642e5ddc3d4:96c0678ab00ec3d17bf666122b3fed9c$</string>
            <key>textureFileName</key>
            <string>BitmapFont.png</string>
        </dict>
    </dict>
</plist>
